/*
  Variables
*/
/* Grid measurements:
  MAX-WIDTH = 1000px;
  
  960px wide including 12 gutters (half gutters on both edges)
 
  60px columns (12)
  20px gutters (two half-gutters + 11 full gutters, so 12 total)
 
 
  For smaller screens, we always want 20px of padding on either side,
  so 960 + 20 + 20 => 1000px
 
 **/
$max-width: 1200px;
$gutter: 20px;
$mwnumber: 1200; /*max-width-number*/
$hgwnumber: 10; /*half-gutter-width-number*/
$gwnumber: 20; /*half-gutter-width-number*/

/* Gutter PADDING HERE:
   * Each column is padded by half-a-gutter on each side,
   *
   * Half a gutter is 10px, 10/960 (context) = 1.041666%
   *
   */
/* 1/2 gutter 
        / divided by 
          max-width less 2 gutters
      * multiplied by 
        100

      10 / (1200 - 20 - 20 ) 
      same as
      10 / 1160 = 0.0104166666
      * 100 = 1.0416666 
    */

$gutterpadding: 0.862069%;

.row {
  max-width: $max-width;
  padding-left: $gutter;
  padding-right: $gutter;
  margin: 0 auto;
}

/* Clearfix */
.row::before,
.row::after {
  display: table;
  content: '';
}

.row::after {
  clear: both;
}

.col-1,
.col-3,
.col-4,
.col-6,
.col-12 {
  float: left;
  padding-left: $gutterpadding;
  padding-right: $gutterpadding;
}

/* Mobile defaults , all full-width*/
.col-1,
.col-2,
.col-3,
.col-4,
.col-6,
.col-12 {
  width: 100%;
}

/* Non-mobile, grid */
@media only screen and (min-width: 640px) {
  /* 3 columns, 3/12 in % */
  .col-3 {
    width: 25%;
  }

  /* 4 columns, 4/12 in % */
  .col-4 {
    width: 33.333333%;
  }

  /* 6 columns, 6/12 in % */
  .col-6 {
    width: 50%;
  }

  /* 12 columns, 12/12 in % */
  .col-12 {
    width: 100%;
  }
}

// export vars so that JS can use them
:export {
  gutter: $gutter;
  gutter-padding: $gutterpadding;
  maxWidth: $max-width;
}
